<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.akexorcist.bluetoothspp">

    <uses-sdk android:minSdkVersion="11" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/blood_icon"
        android:label="Blood Tracking"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home"
            android:label="Blood Tracking">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".Terminal"
            android:label="@string/title_activity_terminal" />
        <activity
            android:name=".History"
            android:label="@string/title_activity_history" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAt7a2yEdiYhe3FoqJUrWYSCxTXU-dW80c" />

        <activity
            android:name=".TemperatureHigh"
            android:label="@string/title_activity_receiver"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RealTime"
            android:label="@string/title_activity_temp" />
        <activity
            android:name=".SetTemp"
            android:label="@string/title_activity_set_temp" />
        <activity
            android:name=".GoogleChart"
            android:label="@string/title_activity_google_chart" />
        <activity
            android:name=".TemperatureLow"
            android:label="@string/title_activity_temperature_low" />
        <activity
            android:name=".GoogleLocation"
            android:label="@string/title_activity_google_location" />
        <activity
            android:name=".MainHistory"
            android:label="@string/title_activity_main_history" />

        <service
            android:name=".RSSPullService"
            android:exported="false" />

        <activity android:name=".SelectDevice"></activity>
    </application>

</manifest>
