<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.akexorcist.bluetoothspp" >

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bloodsac2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Terminal"
            android:label="@string/title_activity_terminal" >
        </activity>
        <activity
            android:name=".Graph"
            android:label="@string/title_activity_graph" >
        </activity>
        <activity
            android:name=".History"
            android:label="@string/title_activity_history" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAt7a2yEdiYhe3FoqJUrWYSCxTXU-dW80c" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>
        <activity
            android:name=".TemperatureHigh"
            android:label="@string/title_activity_receiver"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".RealTime"
            android:label="@string/title_activity_temp" >

        </activity>
        <activity
            android:name=".SetTemp"
            android:label="@string/title_activity_set_temp" >
        </activity>
        <activity
            android:name=".GoogleChart"
            android:label="@string/title_activity_google_chart" >
        </activity>
        <activity
            android:name=".GoogleGraph"
            android:label="@string/title_activity_google_graph" >
        </activity>
        <activity
            android:name=".TemperatureLow"
            android:label="@string/title_activity_temperature_low" >
        </activity>
    </application>

</manifest>
